@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/** Resets **/
*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
h1,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/** Styles **/

:root {
  --clr-red: hsl(0, 100%, 74%);
  --clr-green: hsl(154, 59%, 51%);
  --clr-light-green: hsl(154, 79%, 60%);
  --clr-dark-green: hsl(154, 63%, 44%);
  --clr-accent-blue: hsl(248, 32%, 49%);
  --clr-dark-blue: hsl(249, 10%, 26%);
  --clr-light-gray: hsl(0, 1%, 67%);
  --clr-dark-gray: hsl(0, 0%, 37%);

  --border-radius-lg: 8px;
  --border-radius-md: 6px;
  --border-radius-sm: 4px;
  --box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.137);
}

body {
  font-family: "Poppins", sans-serif;
  display: grid;
  min-height: calc(100vh - 3em);
  margin: 1.5em;
  background: url(./images/bg-intro-mobile.png) var(--clr-red);
}

@media (min-width: 768px) {
  body {
    background: url(./images/bg-intro-desktop.png) var(--clr-red);
  }
}

.content {
  display: grid;
  align-items: center;
  max-width: 1100px;
  margin: 4.25em 0;
}

@media (min-width: 768px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
  }
}

.header {
  color: white;
  text-align: center;
  margin-bottom: 4.5em;
}

@media (min-width: 768px) {
  .header {
    margin: 0;
    text-align: initial;
  }
}

.title {
  font-size: 1.7rem;
  line-height: 1.1;
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  .title {
    font-size: 3rem;
    margin-bottom: 0.5em;
  }

  .main {
    margin-left: 0.75em;
  }
}

.header__byline {
  font-weight: 500;
  line-height: 1.6;
}

.notice {
  color: white;
  padding: 1.3em 3em 1.2em;
  margin-bottom: 1.5em;
  background: var(--clr-accent-blue);
  border-radius: var(--border-radius-lg);
  box-shadow: var(--box-shadow);
  line-height: 1.6;
  text-align: center;
}

.form {
  display: grid;
  gap: 1em;
  background: white;
  padding: 1.5em;
  border-radius: var(--border-radius-lg);
  box-shadow: var(--box-shadow);
}

@media (min-width: 768px) {
  .form {
    gap: 1.3em;
    padding: 2.5em 2.5em 2.75em;
  }
}

.input-block {
  border: 1px solid lightgray;
  border-radius: var(--border-radius-sm);
}

.input-block:focus-within {
  border: 1px solid var(--clr-dark-blue);
}

.input-block__input {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  width: 100%;
  padding: 1.3125em 1.2em;
  border: none;
  border-radius: var(--border-radius-sm);
}

@media (min-width: 768px) {
  .input-block__input {
    padding: 1.3125em 2em;
  }
}

.input-block__input::placeholder {
  color: var(--clr-dark-gray);
}

.input-block__input:focus {
  outline: 2px solid transparent;
}

.input-block--invalid {
  border: 3px solid var(--clr-red);
  position: relative;
}

.input-block--invalid::after {
  content: "";
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  top: 50%;
  right: 2em;
  transform: translateY(-50%);
  background: url(./images//icon-error.svg);
}

.input-block--invalid:focus-within {
  border: 3px solid var(--clr-red);
}

.input-block--invalid .input-block__input {
  color: var(--clr-red);
}

.input-block--invalid .input-block__input::placeholder {
  color: transparent;
}

.input-block__input--invalid:focus {
  border: 3px solid var(--clr-red);
  outline: 3px solid transparent;
}

.form__notification {
  display: none;
  color: var(--clr-red);
  font-size: 0.7rem;
  font-style: italic;
  text-align: right;
  margin-top: 0.5em;
}

.form__notification--visible {
  display: block;
}

.button {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 1.25em 0 1em;
  background: var(--clr-green);
  border: none;
  border-radius: var(--border-radius-md);
  box-shadow: 0 4px 0 0 var(--clr-dark-green);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.button:hover,
.button:focus {
  background: var(--clr-light-green);
}

.terms {
  color: var(--clr-light-gray);
  font-size: 0.7rem;
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
}

.terms__link {
  color: var(--clr-red);
  font-weight: bold;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution__link {
  color: hsl(228, 45%, 44%);
}

/** Utility classes **/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.bold {
  font-weight: bold;
}
